@model Proyecto1SpecialTicket.Models.Entities.DetalleEvento

@{
    ViewData["Title"] = "Detalles";
}

<h1 class="text-center mt-3 mb-4">Información del evento</h1>

<div style="margin: 0 auto; max-width: 500px;">
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-6 text-end">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.TipoEvento)
        </dt>
        <dd class = "col-sm-6 text-end">
            @Html.DisplayFor(model => model.TipoEvento)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-6 text-end">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.TipoEscenario)
        </dt>
        <dd class = "col-sm-6 text-end">
            @Html.DisplayFor(model => model.TipoEscenario)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Escenario)
        </dt>
        <dd class = "col-sm-6 text-end">
            @Html.DisplayFor(model => model.Escenario)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Localizacion)
        </dt>
        <dd class = "col-sm-6 text-end">
            @Html.DisplayFor(model => model.Localizacion)
        </dd>
    </dl>
</div>
<div class="d-flex align-items-center justify-content-between mt-4" style="margin: 0 auto; max-width: 500px;">
    <a asp-action="Index" class="btn btn-secondary"><i class="fa-solid fa-right-from-bracket"></i></a>
    <a asp-action="Seats" asp-route-id="@Model?.Id" class="btn btn-primary pe-2"><i class="fa-solid fa-chair pe-1"></i>Asientos</a>
</div>
