@model IEnumerable<Proyecto1SpecialTicket.Models.Entities.DetalleAsiento>

@{
    ViewData["Title"] = "Asientos disponibles";
}

<h1 class="mt-5">Asientos disponibles</h1>

<div class="table-responsive">
    <table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TipoAsiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoAsiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        <a asp-action="Create" asp-route-id="@item.Id" asp-route-idE="@item.IdEvento" class="btn btn-success pe-2"><i class="fa-solid fa-plus pe-1 text-white"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json"
                }
            });
        });
    </script>

}